{
  "extends": ["next", "next/core-web-vitals"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "react/prop-types": "off",
        "react/display-name": "off"
      }
    }
  ]
}
